################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MetalPrices/v16/Server/sqlite3/storage.ide-wal
/.vs/MetalPrices/v16/Server/sqlite3/storage.ide-shm
/.vs/MetalPrices/v16/Server/sqlite3/storage.ide
/.vs/MetalPrices/v16/Server/sqlite3/db.lock
/.vs/MetalPrices/v16/Server/sqlite3
/.vs/MetalPrices/v16/.suo
/.vs/MetalPrices/v16
/.vs/MetalPrices/DesignTimeBuild/.dtbcache
/MetalPrices.Api/obj
/MetalPrices.Api/bin/Debug/netcoreapp3.0/Properties/launchSettings.json
/MetalPrices.Api/bin/Debug/netcoreapp3.0/Properties
/MetalPrices.Api/bin/Debug/netcoreapp3.0/MetalPrices.Api.runtimeconfig.json
/MetalPrices.Api/bin/Debug/netcoreapp3.0/MetalPrices.Api.runtimeconfig.dev.json
/MetalPrices.Api/bin/Debug/netcoreapp3.0/MetalPrices.Api.pdb
/MetalPrices.Api/bin/Debug/netcoreapp3.0/MetalPrices.Api.exe
/MetalPrices.Api/bin/Debug/netcoreapp3.0/MetalPrices.Api.dll
/MetalPrices.Api/bin/Debug/netcoreapp3.0/MetalPrices.Api.deps.json
/MetalPrices.Api/bin/Debug/netcoreapp3.0/appsettings.json
/MetalPrices.Api/bin/Debug/netcoreapp3.0/appsettings.Development.json
/MetalPrices.Api/bin/Debug/netcoreapp3.0
/.vs/MetalPrices/config/applicationhost.config
/MetalPrices.Services/obj
/MetalPrices.Services/bin/Debug/netcoreapp3.0
